<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="Description" content="Random quotes. This site is built using Vue.js + Bootstrap CSS and is hosted on GitLab Pages">
    <link rel="icon" href="./favicon.ico">

    <!-- Send hash and node environment for Google Analytics -->
    <script>       
      window.dataLayer = window.dataLayer || []
      window.dataLayer.push({'documentLocationHash': document.location.hash})
      window.dataLayer.push({'env': '<%= NODE_ENV %>'})
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-596FL8F');</script>
    <!-- End Google Tag Manager -->

    <link rel="apple-touch-icon" sizes="57x57" href="./img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/icons/favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#aaaaaa">
    <meta name="msapplication-TileImage" content="./img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#aaaaaa">

    <title>Quote</title>
  </head>
  <body class="bg-gray">
    
    <!-- Block the page while loading -->
    <div id="page-block-overlay" style="background-color: #aaa; opacity: 1; z-index: 10000; cursor: wait; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; position: fixed;"></div>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-596FL8F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <span id="app"></span>
  </body>
</html>
