<template>
  <main id="about" class="container">
    <h1>About</h1>
    <p>
      <strong>Quote</strong> is a random quote generator built using Vue.js + Bootstrap.
    </p>
    <p>
      
    </p>
  </main>
</template>
