<template>
  <main id="home" class="container">
    <header class="jumbotron">
      <div class="row">
        <div class="col-sm">
          <h1><span class="bg-black white">{{ quote.text }}</span></h1>
          <p class="lead text-right">
            <span>&mdash; {{ quote.author }}</span>
          </p>
          <ul class="list-unstyled list-inline text-right">
            <li class="list-inline-item" v-for="tag in quote.tags" :key="tag"><span class="badge badge-secondary">{{ tag }}</span></li>
          </ul>
        </div>
      </div>
    </header>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Home extends Vue {

  get quote() {
    return this.$store.state.quote;
  }
}
</script>

<style scoped lang="scss">
.jumbotron {
  font-family: 'Montserrat';
  text-align: left;
  overflow: auto;
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.5rem;
  }

  .badge {
    font-weight: normal;
  }
}

// Small devices (landscape phones, less than 768px)
//@include media-breakpoint-down(sm) {
@media (max-width: 767.98px) { 
  .jumbotron {
    h1 {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}
</style>