<template>
  <footer id="footer" class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a href="https://gitlab.com/jacbmelo/quote" target="_blank" rel="noreferrer">GitLab</a></li>
          <router-link tag="li" to="/about" class="list-inline-item"><a>About</a></router-link>
        </ul>
        <p>
          <small>
            <strong>Quote</strong> {{ version }} is designed and built by <a href="https://gitlab.com/jacbmelo" target="_blank" rel="noreferrer" title="João Melo">@jacbmelo</a> using
            <a href="https://vuejs.org/" target="_blank" rel="noreferrer">Vue.js</a> and
            <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">Bootstrap</a>.
          </small>
        </p>
        <p>
          <small>
            Code licensed under the <a href="https://gitlab.com/jacbmelo/quote/-/raw/master/LICENSE" target="_blank" rel="noreferrer">MIT License</a>.
          </small>
        </p>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Footer extends Vue {
  private data() {
    return {
      version: process.env.VUE_APP_VERSION,
      name: process.env.VUE_APP_NAME,
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  footer {
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: inline-table;
  }
  footer p {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer a {
    font-weight: bold;
    color: inherit!important;
  }
</style>