<template>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <span class="navbar-brand mb-0"><router-link to="/" class="text-decoration-none">
      <img src="../../public/img/icons/favicon-96x96.png" height="24px"/>&nbsp;<strong>Quote</strong></router-link>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav ml-auto">
        <router-link tag="li" to="/about" class="nav-item" active-class="active"><a class="nav-link">About</a></router-link>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Navbar extends Vue {
  private data() {
    return {
        appVersion: process.env.VUE_APP_VERSION,
        appName: process.env.VUE_APP_NAME,
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>