/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* Bootstrap CSS overrided variables */
$font-family-sans-serif: 'Open Sans', "Helvetica Neue", Arial, "Noto Sans", sans-serif, !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default;

/* Import Bootstrap CSS (https://getbootstrap.com/) */
@import './node_modules/bootstrap/scss/bootstrap.scss';

/* Colors (http://clrs.cc/), a nicer color palette for the web. */
@import url('https://unpkg.com/colors.css@3.0.0/css/colors.min.css');

/* Customizations */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px; /* Margin bottom by footer height */
}

/* Navbar */
.navbar-light {
  background-color: rgba(0, 0, 0, 0.0);
  border-bottom: 0px solid #ddd;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-light .navbar-brand, .navbar-light a {
  color: inherit;
}
.navbar-brand {
  font-weight: bolder;
}

/* Jumbotron */
.jumbotron {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 0;
}

.text-decoration-none {
    color: $body-color;
}
