<template>
  <div id="app">
    <Navbar/>
    <router-view/>
    <Footer/>
  </div>
</template>

<script lang="ts">
// tslint:disable:no-console
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue';
import Footer from '@/components/Footer.vue';
import store from '@/store';

@Component({
  store,
  components: {
    Navbar,
    Footer,
  },
})
export default class App extends Vue {

  // https://vuejs.org/v2/api/#mounted
  private mounted() {

    // Code that will run only after the
    // entire view has been rendered
    // https://vuejs.org/v2/api/#Vue-nextTick
    this.$nextTick( () => {

      // Remove the div that blocks the page while the app is loading
      const element = document.getElementById('page-block-overlay');
      if (element && element.parentNode) {
        element.parentNode.removeChild(element);
      }

      // Start randomizing quotes
      this.$store.dispatch('start');
    });
  }
}
</script>

<style lang="scss">

</style>
